* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8c4c29;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #a96647;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section, .right-section {
    flex: 1;
    margin: 10px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-btn {
    background-color: #f36e21;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.image-upload {
    position: relative;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.image-upload img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    color: #333;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-icon:hover {
    background-color: #ddd;
}

#file-input {
    display: none;
}

.right-section h2 {
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    background-color: #f5f5f5;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

form textarea {
    resize: none;
    height: 80px;
}

form button {
    background-color: #4e2d1d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #3b2418;
}


.back-btn {
    background-color: #f36e21;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* Remove a linha azul */
}

.back-btn:hover {
    background-color: #d85c1b;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.back-btn:active {
    background-color: #c45118;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.back-link {
    text-decoration: none; /* Remove a linha azul do link */
}




.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label {
    font-weight: bold;
    color: #fff;
}

.field input,
.field textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    resize: none;
}

textarea {
    height: 80px;
}
