* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a65633;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #a65633;
    padding: 20px;
    border-radius: 8px;
}

.voltar {
    background-color: #ff8a00;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #d29e7d;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d29e7d;
    border-radius: 10px;
    padding: 10px;
}

.image-section img {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.info-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label {
    font-weight: bold;
    color: #fff;
}

.field input,
.field textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    resize: none;
}

textarea {
    height: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.approve, .reject {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.approve {
    background-color: #ff8a00;
    color: #fff;
}

.reject {
    background-color: #ff8a00;
    color: #fff;
}
